@import "tailwindcss";
@plugin "daisyui";

/*Font Import Link*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

.bungee-spice-font{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.dosis-font{
  font-family: "Dosis", sans-serif;
}

.edu-font{
  font-family: "Edu AU VIC WA NT Arrows", cursive;
}
/* From Uiverse.io by alexmaracinaru */ 
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 10px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

  
/* Default Light Theme */
body.light-theme {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark-theme {
  background-color: black;
  color: rgb(192, 191, 191);
}

body.light-theme button {
  background-color: black;
  color: white;
}

body.dark-theme button {
  background-color: rgb(192, 191, 191);
  color: black;
}


/*sign in page*/
.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
