@import "tailwindcss";
@plugin "daisyui";


/* From Uiverse.io by alexmaracinaru */ 
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .dropbtn {
    background: #04aa6d;
    border: none;
    font-size: 17px;
    padding: 17px;
    color: #fff;
  }
  
  .drobdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background: #f1f1f1;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 17px;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
    background: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background: #3e8341;
  }
  